/* Put your CSS here */
html, body {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#totopscroller {
    position: fixed;
    right: 10px;
    bottom: 62px;
    width: 42px;
}

.pick-a-color-markup .input-group-btn .color-dropdown {
    padding: 10px 6px;
}
/*
.btn {
    padding: 14px 14px;
}*/

.thumbnail:hover {
    background-color: #e6e6e6;
}

.favorite-icon {
    color: #e99002;
    text-decoration: none;
}

.favorite-icon:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 60px;
        bottom: 60px;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #FFFFFF;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a {
    background-color: #007fff;
    color: #FFFFFF;
}

.nav-sidebar > li > a:hover {
    background-color: #e6e6e6;
}

/*
 * Main content
 */
/*
.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}*/