<div class="col-xs-12">
    <ol class="breadcrumb">
        <li>
            {{#link-to 'folders'}}Packs{{/link-to}}
        </li>
        <li>
            {{#link-to 'folder.images' folder.i }}{{folder.dn}}{{/link-to}}
        </li>
        <li class="active">
            {{file.i}}
        </li>
    </ol>
</div>

<div class="col-xs-12 text-center">
    <h2>{{file.i}} <span class='favorite-icon-popover' data-container="body" data-toggle="popover" data-placement="right" data-content="Click here to add a icon as favorite."><span
             {{action 'setFavorite'}} {{bind-attr class=":glyphicon :favorite-icon isFavorite:glyphicon-star:glyphicon-star-empty"}}></span></span>
    </h2>
</div>

<div class="col-xs-12">
    <form role="form">
        <div class="form-group">
            <label for="image-size">Size
                <small>in px</small>
            </label>

            <div id="slider"></div>
            <br/>

            <div class="input-group">
                {{input type="text" value=size id='image-size' class='form-control'}}
                <span class="input-group-addon">px</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="box-sizing: border-box;">
                    <label for="color-picker">Color
                        <small>in hexadecimal</small>
                    </label>
                    {{input type="text" value=color id='color-picker' class="pick-a-color form-control"}}
                </div>
            </div>
        </div>
        {{#if 'App.saveWithRigthClick'}}
            <div id='saveInfo' class="alert alert-info">
                Save the icon with the right click. Choose the 'png' format for a better experience.
            </div>
        {{else}}
            <div id='saveInfo' class="alert alert-info">
                After you click 'Save' a new window will be open with the icon. Save the icon with the right click.
            </div>
            <div class="form-group">
                <button {{action 'saveSVG'}} id="saveButton" class="btn btn-primary center-block">Save</button>
                <input style="display:none;" id="saveFile" type="file"
                       accept=".png" nwsaveas='{{unbound file.i}}.png'/>
            </div>
            <div id='saveFileSuccess' class="alert alert-success alert-dismissable" style="display: none">
                <button type="button" class="close" data-hide="alert" aria-hidden="true">&times;</button>
                <span id="saveFileSuccessText"></span>
            </div>
            <div id='saveFileError' class="alert alert-error alert-dismissable" style="display: none">
                <button type="button" class="close" data-hide="alert" aria-hidden="true">&times;</button>
                <span id="saveFileErrorText"></span>
            </div>
        {{/if}}
    </form>
    <div class="row">
        <div class="col-ms-12">
            <canvas {{bind-attr width=size height=size}} style='display: none !important'></canvas>
            <object data="{{unbound config.path}}/{{unbound folder.i}}/{{unbound file.i}}.svg" type="image/svg+xml" id="svg_image_id"
                    class="img-responsive center-block"></object>
        </div>
    </div>
</div>