<div class="col-xs-12">
    <ol class="breadcrumb">
        <li>
            {{#link-to 'folders'}}Packs{{/link-to}}
        </li>
        <li class="active">
            {{model.folder.dn}}
        </li>
    </ol>
</div>

<div class="col-xs-12 text-center">
    <h2>
        {{model.folder.dn}} <span class='favorite-pack-popover' data-container="body" data-toggle="popover" data-placement="right" data-content="Click here to add a package as favorite."><span {{action 'setFavorite'}} {{bind-attr class=":glyphicon :favorite-icon model.isFavorite:glyphicon-star:glyphicon-star-empty"}}></span></span>
    </h2>
    <span class="pull-right">from: <a {{bind-attr href=model.folder.s}}>{{model.folder.sn}}</a> | license: {{model.folder.l}}</span>
</div>

<div class="col-xs-12 text-center">
    {{input type="text" value=model.searchTerm class="form-control" placeholder="Type to search"}}
    <br/>
</div>

{{#each image in files}}
    <div class="col-xs-4 col-md-2">
        <div class="thumbnail">
            {{#link-to 'folder.image' model.folder.i image.i}}
                <img src="{{unbound model.config.path}}/{{unbound model.folder.i}}/{{unbound image.i}}.svg"
                     style="height: 60px" {{action 'scrollToTop'}}>
            {{/link-to}}

            <div class="text-center">
                {{#link-to 'folder.image' model.folder.i image.i}}
                    <div {{action 'scrollToTop'}}>
                        {{image.i}}
                    </div>
                {{/link-to}}
            </div>
        </div>
    </div>
{{else}}
    No icons to display
{{/each}}
