<div class="row text-center">
    <div class="col-md-12 text-center">
        <h2>Statistics</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Packs <span class="label label-default">{{folders.length}}</span></h3>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Icons <span class="label label-default">{{fileCount}}</span></h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Favorited packs <span class="label label-default">{{favoriteFolder.length}}</span></h3>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Favorited icons <span class="label label-default">{{favoriteFile.length}}</span></h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <div class="alert alert-info" style="font-size: 30px"><span class="glyphicon glyphicon-arrow-left"></span> Click
            a pack to navigate
            between icons!
        </div>
    </div>
</div>