<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span
                    class="glyphicon glyphicon-globe"></span> Icon Explorer <span class="badge alert-danger"
                                                                                  style="font-size: 8px; vertical-align: super">0.4</span></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {{#link-to 'folders' tagName="li"}}<a
                        href='' {{bind-attr href="view.href"}}>Packs</a>{{/link-to}}
            </ul>

            <ul class="nav navbar-nav">
                {{#link-to 'favorites' tagName="li"}}<a
                        href='' {{bind-attr href="view.href"}}>Favorites</a>{{/link-to}}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            {{input type="text" value=search class="form-control" placeholder="Global search"}}
                        </div>
                        <button {{action 'search'}} class="btn btn-default"><span
                                class="glyphicon glyphicon-search"></span></button>
                    </form>
                </li>
                <li>

                    {{#link-to 'config' tagName="li"}}<a href='' {{bind-attr href="view.href"}}><span
                            class="glyphicon glyphicon-cog"></span></a>{{/link-to}}
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
    {{outlet}}
</div>
<div id="totopscroller"></div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li>
                {{#if App.isNodeWebkit}}
                    <p class="navbar-text">Created by <a href="#" {{action 'openCreatorsWebsite'}} class="navbar-link">Conrado
                        Quilles Gomes</a></p>

                    <p class="navbar-text"><a href="#" {{action 'openSourceCodeWebsite'}} class="navbar-link">Source
                        code
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="10px" height="10px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                        <g>
                            <path fill="#FFFFFF" d="M78.426,433.574c0,19.416,16.432,29.127,49.293,29.127c28.755,0,43.132-10.078,43.132-30.248
                                c0-19.047-15.681-28.568-47.052-28.568C93.549,403.885,78.426,413.779,78.426,433.574z"/>
                            <path fill="#FFFFFF" d="M119.879,175.892c-23.527,0-35.293,13.821-35.293,41.453c0,25.772,11.766,38.654,35.293,38.654
                                c22.778,0,34.171-13.072,34.171-39.213c0-10.831-2.616-20.165-7.845-28.011C139.857,180.19,131.08,175.892,119.879,175.892z"/>
                            <path fill="#FFFFFF" d="M117.639,124.36c-25.396,0-47.242,8.403-65.542,25.208c-19.043,17.926-28.57,40.33-28.57,67.218
                                c0,17.926,5.188,34.732,15.647,50.416c9.337,14.564,19.09,23.904,31.889,28.012v1.121c-12.799,5.223-18.484,18.295-18.484,39.209
                                c0,16.061,5.686,28.01,18.484,35.854v1.121c-35.327,11.574-51.496,33.047-51.496,64.416c0,27.266,11.874,47.244,35.033,59.939
                                C72.895,506.959,96.389,512,124.773,512c69.085,0,103.703-28.941,103.703-86.832c0-36.223-26.661-58.441-80.065-66.658
                                c-12.323-1.863-21.642-6.348-27.991-13.445c-4.854-4.854-7.271-9.709-7.271-14.563c0-13.816,7.478-21.848,22.41-24.088
                                c22.779-3.357,41.364-13.912,55.743-31.648c14.375-17.74,21.565-38.559,21.565-62.459c0-7.469-2.258-15.498-5.244-24.086
                                c9.709-2.244,16.526-4.297,21.646-6.166V124.36c-22.528,8.964-43.495,13.442-61.421,13.442
                                C152.161,128.841,135.937,124.36,117.639,124.36z M123.8,403.885c31.372,0,47.052,9.521,47.052,28.57
                                c0,20.168-14.377,30.246-43.132,30.246c-32.862,0-49.293-9.711-49.293-29.127C78.426,413.779,93.549,403.885,123.8,403.885z
                                 M119.879,256c-23.527,0-35.293-12.882-35.293-38.654c0-27.631,11.766-41.453,35.293-41.453c11.201,0,19.979,4.298,26.326,12.884
                                c5.229,7.845,7.845,17.18,7.845,28.011C154.05,242.927,142.657,256,119.879,256z"/>
                            <path fill="#FFFFFF" d="M290.192,0c-10.829,0-20.072,4.107-27.728,12.324c-7.656,8.218-11.484,18.108-11.484,29.688
                                c0,11.205,3.829,20.91,11.484,29.129c7.654,8.217,16.897,12.32,27.728,12.32c10.455,0,19.513-4.104,27.169-12.32
                                c7.656-8.219,11.481-17.924,11.481-29.129c0-11.58-3.825-21.472-11.481-29.688C309.704,4.107,300.647,0,290.192,0z"/>
                            <path fill="#FFFFFF" d="M321.564,127.999h-63.302c0.748,7.168-0.321,18.021-0.321,35.57v174.216c0,17.928,1.069,32.387,0.321,38.018h63.302
                                c-0.75-8.189-2.696-22.334-2.696-41.379V162.451C318.866,146.019,320.814,135.167,321.564,127.999z"/>
                            <path fill="#FFFFFF" d="M461.168,322.1c-16.435,0-24.542-12.514-24.542-37.533V181.246h24.933c4.481,0,8.516-0.246,13.558,0.123
                                c5.043,0.374,7.076,0.125,9.638,0.125v-53.495h-48.128v-23.808c0-8.961,1.409-17.151,2.528-22.271h-64.979
                                c1.121,5.12,1.013,12.938,1.013,23.395V128h-28.16v53.494c7.681-1.12,14.545-1.678,19.399-1.678l8.761,0.559v0.292l0,0v101.101
                                c0,31.371,3.979,54.336,11.819,68.9c10.46,19.42,28.81,29.129,56.069,29.129c19.423,0,36.558-3.732,49.356-11.205v-56.016
                                C482.195,318.926,472.743,322.1,461.168,322.1z"/>
                        </g>
                        </svg>
                    </a></p>
                {{else}}
                    <p class="navbar-text">Created by <a href="http://www.conradoqg.eti.br" class="navbar-link">Conrado
                        Quilles Gomes</a></p>

                    <p class="navbar-text"><a href="http://git.conradoqg.eti.br/conradoqg/iconexplorer-dualapp"
                                              class="navbar-link">Source code
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="10px" height="10px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                        <g>
                            <path fill="#FFFFFF" d="M78.426,433.574c0,19.416,16.432,29.127,49.293,29.127c28.755,0,43.132-10.078,43.132-30.248
                                c0-19.047-15.681-28.568-47.052-28.568C93.549,403.885,78.426,413.779,78.426,433.574z"/>
                            <path fill="#FFFFFF" d="M119.879,175.892c-23.527,0-35.293,13.821-35.293,41.453c0,25.772,11.766,38.654,35.293,38.654
                                c22.778,0,34.171-13.072,34.171-39.213c0-10.831-2.616-20.165-7.845-28.011C139.857,180.19,131.08,175.892,119.879,175.892z"/>
                            <path fill="#FFFFFF" d="M117.639,124.36c-25.396,0-47.242,8.403-65.542,25.208c-19.043,17.926-28.57,40.33-28.57,67.218
                                c0,17.926,5.188,34.732,15.647,50.416c9.337,14.564,19.09,23.904,31.889,28.012v1.121c-12.799,5.223-18.484,18.295-18.484,39.209
                                c0,16.061,5.686,28.01,18.484,35.854v1.121c-35.327,11.574-51.496,33.047-51.496,64.416c0,27.266,11.874,47.244,35.033,59.939
                                C72.895,506.959,96.389,512,124.773,512c69.085,0,103.703-28.941,103.703-86.832c0-36.223-26.661-58.441-80.065-66.658
                                c-12.323-1.863-21.642-6.348-27.991-13.445c-4.854-4.854-7.271-9.709-7.271-14.563c0-13.816,7.478-21.848,22.41-24.088
                                c22.779-3.357,41.364-13.912,55.743-31.648c14.375-17.74,21.565-38.559,21.565-62.459c0-7.469-2.258-15.498-5.244-24.086
                                c9.709-2.244,16.526-4.297,21.646-6.166V124.36c-22.528,8.964-43.495,13.442-61.421,13.442
                                C152.161,128.841,135.937,124.36,117.639,124.36z M123.8,403.885c31.372,0,47.052,9.521,47.052,28.57
                                c0,20.168-14.377,30.246-43.132,30.246c-32.862,0-49.293-9.711-49.293-29.127C78.426,413.779,93.549,403.885,123.8,403.885z
                                 M119.879,256c-23.527,0-35.293-12.882-35.293-38.654c0-27.631,11.766-41.453,35.293-41.453c11.201,0,19.979,4.298,26.326,12.884
                                c5.229,7.845,7.845,17.18,7.845,28.011C154.05,242.927,142.657,256,119.879,256z"/>
                            <path fill="#FFFFFF" d="M290.192,0c-10.829,0-20.072,4.107-27.728,12.324c-7.656,8.218-11.484,18.108-11.484,29.688
                                c0,11.205,3.829,20.91,11.484,29.129c7.654,8.217,16.897,12.32,27.728,12.32c10.455,0,19.513-4.104,27.169-12.32
                                c7.656-8.219,11.481-17.924,11.481-29.129c0-11.58-3.825-21.472-11.481-29.688C309.704,4.107,300.647,0,290.192,0z"/>
                            <path fill="#FFFFFF" d="M321.564,127.999h-63.302c0.748,7.168-0.321,18.021-0.321,35.57v174.216c0,17.928,1.069,32.387,0.321,38.018h63.302
                                c-0.75-8.189-2.696-22.334-2.696-41.379V162.451C318.866,146.019,320.814,135.167,321.564,127.999z"/>
                            <path fill="#FFFFFF" d="M461.168,322.1c-16.435,0-24.542-12.514-24.542-37.533V181.246h24.933c4.481,0,8.516-0.246,13.558,0.123
                                c5.043,0.374,7.076,0.125,9.638,0.125v-53.495h-48.128v-23.808c0-8.961,1.409-17.151,2.528-22.271h-64.979
                                c1.121,5.12,1.013,12.938,1.013,23.395V128h-28.16v53.494c7.681-1.12,14.545-1.678,19.399-1.678l8.761,0.559v0.292l0,0v101.101
                                c0,31.371,3.979,54.336,11.819,68.9c10.46,19.42,28.81,29.129,56.069,29.129c19.423,0,36.558-3.732,49.356-11.205v-56.016
                                C482.195,318.926,472.743,322.1,461.168,322.1z"/>
                        </g>
                        </svg>
                    </a></p>
                {{/if}}
            </li>
        </ul>
    </div>
</nav>