<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
        <h2>Configuration</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <label for="image-size">Size
                <small>in px</small>
            </label>

            <div id="slider"></div>
            <br/>

            <div class="input-group">
                {{input type="text" value=size id='image-size' class='form-control'}}
                <span class="input-group-addon">px</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="box-sizing: border-box;">
                    <label for="color-picker">Color
                        <small>in hexadecimal</small>
                    </label>
                    {{input type="text" value=color id='color-picker' class="pick-a-color form-control"}}
                </div>
            </div>
        </div>
        {{#if 'App.isNodeWebkit'}}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" style="box-sizing: border-box;">
                        <label for="color-picker">Path</label>

                        <div class="input-group">
                            {{input type="text" value=path id='path' class="form-control"}}
                            <div class="input-group-btn">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" tabindex="-1"
                                            id="selectDirectoryButton"><span
                                            class="glyphicon glyphicon-search"></span></button>
                                    <input style="display:none;" id="selectDirectory"
                                           type="file" {{bind-attr nwdirectory=path}}/>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            tabindex="-1">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a {{action "recreateIndex"}} >Recreate index</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                 aria-valuemax="100"
                                 style="width: 0;">
                                <span class="sr-only">0% Complete</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        {{/if}}
        <div class="text-center">
            <button {{action "save" model}} id="saveButton" class="btn btn-primary">Save</button>
            <button {{action "reset" model}} id="resetButton" class="btn btn-warning">Reset to
                default
            </button>
        </div>
        <br/>

        <div id='saveFileSuccess' class="alert alert-success alert-dismissable" style="display: none">
            <button type="button" class="close" data-hide="alert" aria-hidden="true">&times;</button>
            <span id="saveFileSuccessText"></span>
        </div>
        <div id='saveFileError' class="alert alert-error alert-dismissable" style="display: none">
            <button type="button" class="close" data-hide="alert" aria-hidden="true">&times;</button>
            <span id="saveFileErrorText"></span>
        </div>
    </div>
</div>