<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li>
                    Favorites
                </li>
            </ol>
        </div>

        <div class="col-xs-12 text-center">
            <h2>Favorites</h2>
        </div>

        <div class="col-xs-12 text-center">
            {{input type="text" value=model.searchTerm class="form-control" placeholder="Type to search"}}
            <br/>
        </div>

        <div class="col-xs-12">
            <div class="col-md-2">
                <h3>Packs</h3>

                <ul class="nav nav-pills nav-stacked">
                    {{#each folder in model.folders itemController='folder.folder'}}
                        <li>
                            {{#link-to 'folder.images' folder.i}}
                                <span {{action 'scrollToTop'}}>
                                    {{dn}}
                                </span>
                            {{/link-to}}
                        </li>
                    {{else}}
                        No packs to display
                    {{/each}}
                </ul>
            </div>

            <div class="col-md-10">
                <h3>Icons</h3>

                {{#each image in model.files}}
                    <div class="col-xs-4 col-md-2">
                        <div class="thumbnail">
                            {{#link-to 'folder.image' image.f image.i}}
                                <img src="{{unbound model.config.path}}/{{unbound image.f}}/{{unbound image.i}}.svg"
                                     style="height: 60px" {{action 'scrollToTop'}}>

                                <div class="text-center">
                                    <div {{action 'scrollToTop'}}>
                                        {{image.i}}
                                    </div>
                                </div>
                            {{/link-to}}
                        </div>
                    </div>
                {{else}}
                    No icons to display
                {{/each}}
            </div>
        </div>
    </div>
</div>