<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-3 sidebar">
            <ul class="nav nav-sidebar">
                <div style="margin-left: 20px; margin-right: 20px">
                    {{input type="text" value=model.searchTerm class="form-control" placeholder="Type to search"}}
                </div>
            </ul>
            <ul class="nav nav-sidebar">
                {{#each model.folders}}
                    {{#link-to 'folder.images' i tagName="li"}}<a
                            href='' {{bind-attr href="view.href"}}>{{dn}} {{badge-level f.length}}</a>{{/link-to}}
                {{else}}
                    No packs to display
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 col-lg-9 col-lg-offset-3 main">
        {{outlet}}
    </div>
</div>