<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li>
                    Search
                </li>
                <li class="active">
                    {{model.query}}
                </li>
            </ol>
        </div>

        <div class="col-xs-12 text-center">
            <h2>Search result of '{{model.query}}'</h2>
        </div>

        <div class="col-xs-12 text-center">
            {{input type="text" value=model.searchTerm class="form-control" placeholder="Type to search"}}
            <br/>
        </div>

        <div class="col-xs-12">
            {{#each image in model.files}}
                <div class="col-xs-4 col-md-2">
                    <div class="thumbnail">
                        {{#link-to 'folder.image' image.f image.i}}
                            <img src="{{unbound model.config.path}}/{{unbound image.f}}/{{unbound image.i}}.svg"
                                 style="height: 60px" {{action 'scrollToTop'}}>

                            <div class="text-center">
                                <div {{action 'scrollToTop'}}>
                                    {{image.i}}
                                </div>
                            </div>
                        {{/link-to}}
                    </div>
                </div>
            {{else}}
                No icons to display
            {{/each}}
        </div>
    </div>
</div>